* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.2s linear;
}

body {
  background: var(--color-bg);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  min-height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* For Tablets or bigger phones */
@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

/* For mobile devices */
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}
